<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/7f28056c4e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>FINE WINES - HOME</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure>
                <img src="/images/Logo.png" alt="Logo FINE WINES" id="logo">
            </figure>
            <form class="form" action="#" method="GET">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más">
                <button type="submit"> <i class="fa fa-search"></i></button>
            </form>

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="clase-iconos-header">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <i class="fa-brands fa-instagram"></i>
                <a href="/login"><i class="fa-solid fa-user-large"></i></a>

            </div>
        </div>
        <!--al abrir menu de hamburguesa se despliega lo siguiente-->
       <nav>
            <ul>
                <li><a href="#">BODEGAS</a></li>
                <li><a href="#">TINTOS</a></li>
                <li><a href="#">BLANCOS</a></li>
                <li><a href="#">ROSADOS</a></li>
                <li><a href="#">ESPUMANTES</a></li>
            </ul>
            <!--<ul>
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>-->
        </nav>
    </header>
    <section class="banner">
        <div>
            <img src="/images/portada.jpg" alt="Banner principal">
            <p> CONSEGUÍ EL MEJOR PRECIO<br> EN LAS MEJORAS BODEGAS DE ARGENTINA</p>
        </div>
    </section>
    <main>
        <section class="last-visit">
            <div>
            <span>Basado en tu última visita</span>
            </div>
            <div class="products">
                <article class="articulo"><a href="/productDetail">
                    <img src="/images/Angelica Zapata Malbec Alta X 750cc. (full).jpg" class="product_img" alt="Angelica Zapata Malbec">
                </a><div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$2.500</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        
                            <div>
                                <h4 class="bodega">Angelica Zapata</h4>
                                <h5 class="varietal">Malbec</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/Cara Sur Rosado - Sebastian Zuccardi - Vino Barreal San Juan.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$1.800</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">Sebastian Zuccardi</h4>
                                <h5 class="varietal">Cara Sur Rosado</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/Champagne Salentein Espumante Brut Rose 750cc.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$1.600</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">Salentein</h4>
                                <h5 class="varietal">Espumante Brut Rose</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/DV-CATENA-CABERNET SUAVIGNON-MALBEC.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$1.600</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">DV Catena</h4>
                                <h5 class="varietal">Cabernet Malbec</h5>
                            </div>
                    </div>
                </article>
            </div>
                  
        </section>
            
        <section class="offers">
            <div>
            <span>Ofertas</span>
            </div>
            <div class="products">
                <article class="articulo">
                    <img src="/images/DV-CATENA-MALBEC-MALBEC.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$3.500</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">DV Catena</h4>
                                <h5 class="varietal">Malbec Malbec</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/Escorihuela Gascon Gran Reserva Chardonnay.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$2.100</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">Escorihuela Gascon</h4>
                                <h5 class="varietal">Gran Reserva Chardonnay</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/Escorihuela Gascon Gran Reserva Malbec.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$1.500</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">Escorihuela Gascon</h4>
                                <h5 class="varietal">Gran Reserva Malbec</h5>
                            </div>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/Escorihuela Gascón Malbec Full.jpg" class="product_img" alt="Angelica Zapata Malbec">
                    <div class="detalle">
                        <div class="price-and-discount">
                            <p class="price">$3.500</p>
                            <p class="discount">20% OFF</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                            <div>
                                <h4 class="bodega">Escorihuela Gascon</h4>
                                <h5 class="varietal">Malbec Full</h5>
                            </div>
                    </div>
                </article>
            </div>               
        </section>
    </main>

    <footer>
        <!-- El footer debes completarlo como tarea -->
    </footer>
</body>
<footer>
    <section>
        <h2>INSTITUCIONAL</h2>
       <p>¿Quienes somos?</p>
    </section>
    <section class="ocultar-mobile">
        <h2>PRODUCTOS</h2>
       <p>Bodegas<br>Categorías</p>
    </section>
    <section>
        <h2>CONTACTOS</h2>
       <p>Whatsapp: 1165104040<br>Email: ventas@finwines.com</p>
    </section> 
    <section>
        <h2>SEGUINOS</h2>
        <i class="fa-brands fa-instagram"></i>
    </section>
</footer>
</html>