<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/7f28056c4e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/ProductDetail.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure>
                <img src="/images/Logo.png" alt="Logo FINE WINES" id="logo">
            </figure>

            <div id="buscador" action="#" method="GET">
                <div id="inputBuscador">Buscar productos</div>
                <div id="submit"><i class="fa fa-search"></i></div>
            </div>

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <a href="/" ><i class="fa-solid fa-house"></i></a>
            <div class="clase-iconos-header">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-user-large"></i>
            </div>
        </div>
        <!--nav-->
       <nav>
            <ul>
                <li><a href="#">BODEGAS</a></li>
                <li><a href="#">TINTOS</a></li>
                <li><a href="#">BLANCOS</a></li>
                <li><a href="#">ROSADOS</a></li>
                <li><a href="#">ESPUMANTES</a></li>
            </ul>
            <!--<ul>
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>-->
        </nav>
        
    </header>
    <section class="banner">
        <div class="portada">
            <img src="/images/portada.jpg" alt="Banner principal">
            <p> CONSEGUÍ EL MEJOR PRECIO<br> EN LAS MEJORES BODEGAS DE ARGENTINA</p>
        </div>
    </section>
    
    <main>
        <section class="last-visit">
            <h3>Bressia Piel Negra Pinot Noir 750</h3>
            <div class="products">
                <article>
                    
                    <div class="imagen">
                        <img class="zoom"src="/images/vinoPrueba.jpg" class="product_img" width="250px" alt="vino bressia">
                    </div>
                    <div class="main-article">
                         <div class="description1">
                            <p class="description2">Bressia Piel Negra Pinot permanece 8 meses en barricas nuevas de roble francés, lo que le da el color rojo profundo muy intenso con matices negros de gran atractivo y vivacidad. En cuanto al olfato cuenta con notas de cerezas rojas, moras, tomare maduro y aromas frutales y florales como pétalos de rosas y violetas. En boca se puede apreciar que es un vino de gran estructura, se ofrece muy elegante, voluminoso y con una textura adecuada.</p>
                        </div>
                    </div>
                    
                </article>
                <article>
                <div class="tipo-vino">
                    <div class="tipo-vino1">
                       <ul class="lista-vino">
                        <li class="detalle-lista">TIPO: Tinto</li>
                        <li class="detalle-lista">VARIEDAD: Pinot Noir</li>
                        <li class="detalle-lista">CORTE: 100% Pinot Noir</li>
                        <li class="detalle-lista">ORIGEN: Argentina</li>
                       </ul>
                    </div>
                    <div class="miscelanea">
                        <p class="miscelanea1">Consulte por envoltorios, cajas y estuches de diseño para que este producto sea obsequio único. Envíos a CABA y GBA con nuestra propia flota, siguiendo todas las normas de seguridad sanitaria. Aceptamos Mercadopago, tarjetas de crédito y transferencia bancaria.</p>
                    </div>
                </div>
                </article>
                <article>
                    <div class="caja-carrito">
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <div class="carrito">
                            <label class="cantidad">Cantidad:</label>
                            <select class="cantidad1">
                                <option value="1"> 1</option>
                                <option value="2"> 2 unidades</option>
                                <option value="3"> 3 unidades</option>
                                <option value="4"> 4 unidades</option>
                            </select>
                            <button class="comprar"type="submit"><i class="fas fa-shopping-basket"></i>Comprar</button>
                        </div>
                        </div>
                    </article>
            </div>  
                    
        </section>

    </main>

    <footer>
        <section class="footer-top">
            <h2>INSTITUCIONAL</h2>
           <p>¿Quienes somos?</p>
        </section>
        <section class="ocultar-mobile">
            <h2>PRODUCTOS</h2>
           <p>Bodegas<br>Categorías</p>
        </section>
        <section>
            <h2>CONTACTOS</h2>
           <p>Whatsapp: 1165104040<br>Email: ventas@finwines.com</p>
        </section> 
        <section>
            <h2>SEGUINOS</h2>
            <i class="fa-brands fa-instagram"></i>
        </section>
    </footer>
</body>
</html>